*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Ubuntu', sans-serif;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}

.navbar .logo
{
    
}

nav
{
    flex: 1;
    text-align: right;
}

nav ul
{
    display: inline-block;
    list-style-type: none;
}

nav ul li 
{
    display: inline-block;
    margin-right: 20px;
    font-size: 24px;
}


a
{
    color: #555;
    text-decoration: none;
    padding: 9px;
}
a:hover
{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}


p
{
    color: #555;
    font-size: 18px;
    line-height: 1.4;
}

.container
{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2
{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img
{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1
{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn
{
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: ease 0.5s;
    font-size: 22px;
}

.btn:hover
{
    background: #969696;
    color: #000;
}

.header {
    background: radial-gradient(#fff, #b3b3b3);
}

.header .row
{
    margin: 70px;
}

.categories
{
    margin: 70px 0;
    background-color: rgba(95, 95, 95, 0.945);
}


.small-container
{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 26px;
}

.col-3
{
    flex-basis: 30%;
    max-width: 250px;
    margin-bottom: 30px;
    display: inline-flex;
    margin-left: 30px;
    margin-right: 44px;
}

.col-3 img
{
    width: 120%;
}

.col-4
{
    flex-basis: 24%;
    padding: 12px;
    min-width: 200px;
    margin-bottom: 50px;
    margin-right: 2px;
    transition: transform 0.5s ;
}

.col-4:hover
{
    transform: translateY(-12px);
}

.col-4 img
{
    width: 100%;
}

.title
{
    font-size: 24px;
    text-align: center;
    margin: 20px auto 30px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after
{
    content: '';
    background: rgba(0, 0, 0, 0.6);
    width: 100px;
    height: 5px;
    background-color: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4
{
    color: #555;
    font-weight: normal;
}

.col-4 p
{
    font-size: 16px;
}

.offer {
    background: radial-gradient(#bdbdbd, #ffceba);
    margin-top: 80px;
    padding: 30px 0;
}


.col-2 .offer-img
{
    padding: 50px;
}

.col-2 p
{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.685);
}

.col-2 small
{
    color: rgb(61, 61, 61);
    font-size: 18px;
    line-height: 1.4;
}

.testimonial
{
    padding-top: 100px;
}

.testimonial .col-3
{
    
    display: block;
    text-align: center;
    padding: 40px 10px;
    box-shadow: 0 0 20px rgba(94, 94, 94, 0.3);
    cursor: pointer;
    transition: transform 0.5s ;
    border-radius: 30px;
}

.testimonial .col-3:hover
{
    transform: translateY(-12px);
}

.testimonial .col-3 img
{
    width: 200px;
    margin-top: 20px;
    border-radius: 35%;
}

.testimonial .col-3 h3
{
    margin-top: 16px;
}

.brands
{
    margin: 100px auto;
}

.col-5
{
    width: 160px;
}

.col-5 img
{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover
{
    filter: grayscale(0);
}

.footer
{
    background: #000;
    color: #8a8a8a;
    font-size: 20px;
    padding: 60px 0 20px;
}

.footer p
{
    color: #8a8a8a;
}

.footer h3
{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4
{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1
{
    flex-basis: 30%;
}

.footer-col-2
{
    flex: 1;
    text-align: center;
}

.footer-col-2 img
{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4
{
    flex-basis: 12%;
    text-align: center;
}

ul
{
    list-style-type: none;
}

.app-logo
{
    margin-top: 20px;
}

.app-logo img
{
    width: 140px;
}

.footer hr
{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright
{
    text-align: center;
}

/* DONEEEEEEEEEEEEEEEE */